{% load static %}
<!--About Us Section-->
<div class="container-fluid text-center bg-1 " id="About">
    <h3 class="mb-4">About Us</h3>
    <div class="row justify-content-md-center ">
        <!--CARD1-->
        <div class="card mb-3" style="max-width: 275px; ">
            <div class="col-md-10 containerl">
                <img class="mt-2 " src="{% static 'images\nikket.jpg' %}" alt="Nikk " style="height:270px; width: 250px;">
                <div class="overlayl">
                    <div class="overtext ">Text</div>
                </div>
            </div>

            <div class="col-md-10 can1">
                <div class="card-body ">
                    <h5 class="card-title text-nowrap">Nikket Chandwani</h5>
                    <p class="d-flex justify-content-evenly">
                    <a href="https://www.linkedin.com/in/nikket-chandwani-0392821a6/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="https://github.com/chandwaninikket" target="_blank">
                    <i class="fab fa-github"></i>
                    </a>
                    <a href="https://instagram.com/nikketchandwani" target="_blank">
                    <i class="fab fa-instagram"></i>
                    </a>
                    </p>
                    <p class="align-text-top text-nowrap">
                        <a class="btn btn-primary" style="background-color: #55acee" href="#!" role="button"><i class="far fa-file me-2"></i>Download Resume</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-auto "></div>
        <!-- CARD2 -->
        <div class="card mb-3 " style="max-width: 275px;">
            <div class="col-md-10 containerr">
                <img class="mt-2 " src="{% static 'images\dev.png' %} " alt="Dev " style="height:270px; width: 250px;">
                <div class="overlayr">
                    <div class="overtext"> Text </div>
                </div>
            </div>
            <div class="col-md-10 can2">
                <div class="card-body">
                    <h5 class="card-title text-nowrap">Devanshu Jotwani</h5>
                    <p class="d-flex justify-content-evenly">
                        <a href="https://www.linkedin.com/in/devanshu-jotwani-44b5761b1/" target="_blank">
                        <i class="fab fa-linkedin"></i></a>
                        <a href="https://github.com/devanshu-jotwani" target="_blank">
                        <i class="fab fa-github"></i></a>
                        <a href="https://www.instagram.com/devanshu_jotwani/" target="_blank">
                        <i class="fab fa-instagram"></i>
                        </a>
                    </p>
                    <p class="text-nowrap" style="vertical-align: center;">
                        <a class="btn btn-primary" style="background-color: #55acee" href="#!" role="button"><i class="far fa-file me-2"></i>
                        Download Resume</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>